.terminal__button {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin-left: 5px;
}
.terminal__content {
    overflow-y: scroll;
    position: absolute;
    height: 82%;
    width: 100%;
}
.terminal__input {
    border: none;
    width: calc(100% - 22px);
    position: absolute;
    background: none;
    color: white;
    left: 0;
    bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    border-top: 1px solid #bbb;
    font-family: monospace;
}

.btn-red {
    background-color: rgb(247, 92, 92);
}

.btn-yellow {
    background-color: rgb(255, 205, 96);
}

.btn-green {
    background-color: rgb(114, 219, 65);
}