body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Fira code Retina', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  background: url(https://wallpaperaccess.com/full/1268174.jpg);
  color: white;
}
